<div class="col-form-label">
    <div class="row">
        <div class="title">
            PRODUIT STOCKABLE
        </div>
        <div class="row keys" *ngIf="!disabled">
            <div class="keyboard" *ngFor="let verre of listesVerre,let index" [nbTooltip]='verre.title' nbTooltipPlacement="top" (click)="addMatierePremiere(verre.epaisseur)">
                <p>{{verre.code}}</p>
            </div>
            <div class="container" (click)="setIsVerreClient()" class="keyboard" nbTooltip='Article Client' nbTooltipPlacement="top">
                <p>AC</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <ng2-smart-table *ngIf="!disabled" [settings]=" settings" [source]="source" (userRowSelect)="onUserRowSelect($event)" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
    <ng2-smart-table *ngIf="disabled" [settings]="settingsAsFiche" [source]="source">
    </ng2-smart-table>

</div>