
@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes';


@include nb-install-component() {
    nb-user {
        margin-bottom: 15px !important;
        cursor: pointer;
        color:blue !important;
    }


}
nb-user {
    margin-bottom: 15px !important;
    cursor: pointer;
    color:blue !important;
}