<div class="col-form-label">
    ACCESSOIRES

    <nb-icon *ngIf="!disabled" (click)="addAccessoire()" class="icon" nbTooltip="nouveau" nbTooltipPlacement="top" icon="plus-circle-outline" pack="eva" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
</div>
<div class="container">
    <ng2-smart-table *ngIf="!disabled" [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"> </ng2-smart-table>
    <ng2-smart-table *ngIf="disabled" [settings]="settingsAsFiche" [source]="source">
    </ng2-smart-table>
</div>