@import 'styles/themes';
@include nb-install-component() {
  nb-form-field {
    margin: 0.5rem;
  }
}

nb-card {
  transform: translate3d(0, 0, 0);
}

nb-card-header {
  padding: 0.75rem 1.25rem !important;
}

:host /deep/ .ng2-smart-action-multiple-select {
  text-align: center;
}

:host /deep/ .ng2-smart-action-multiple-select > input {
  width: 13px;
  height: 13px;
  display: unset;
}

nb-icon {
  margin-right: 25px;
}

:host
  /deep/
  ng2-smart-table
  thead
  tr.ng2-smart-filters
  th.ng2-smart-th
  ng2-smart-table-filter
  div.ng2-smart-filter
  default-table-filter
  input-filter
  input {
  border: none !important;
  height: 20px;
  background: rgba(0, 0, 0, 0) !important;
}

:host
  /deep/
  ng2-smart-table
  thead
  tr.ng2-smart-filters
  th.ng2-smart-th
  div.ng2-smart-filter
  input::placeholder {
  color: transparent !important;
}

:host
  /deep/
  ng2-smart-table
  thead
  tr.ng2-smart-filters
  th.ng2-smart-th
  div.ng2-smart-filter {
  border: none !important;
}

:host/deep/ ng2-smart-table table tr td {
  padding: 8px !important;
}

:host/deep/ ng2-smart-table table tr td {
  padding: 3px !important;
  font-size: 0.79rem !important;
  font-weight: 400 !important;
  line-height: 1rem !important;
}

:host/deep/ng2-smart-table table tr.ng2-smart-titles th {
  padding: 0.7rem 0.6rem !important;
}

:host/deep/ng2-smart-table table tr th a {
  font-size: 0.79rem !important;
  font-weight: 400 !important;
}

.smart-table {
  min-width: 1000px;
}
