<nb-card>
    <nb-card-header>
        <div class="row justify-content-between label">
            <div class="col-4">
                {{ title }}
            </div>
            <div>
                <nb-actions>
                    <nb-action nbTooltip="Fermer" nbTooltipPlacement="top" icon="close-outline" pack="eva" (click)="closePopup()"></nb-action>
                </nb-actions>
            </div>
        </div>
    </nb-card-header>
    <form [formGroup]="ContactForm" (ngSubmit)="confirm()">
        <nb-card-body>
            <div class="row">
                <div class="col-sm-3">
                    <img src="../../../../../assets/images/contactPlaceholder.jfif" />
                </div>
                <div class="col-sm-9">
                    <div class="row justify-content-between">
                        <div class="col-sm-3">
                            <nb-select formControlName="civilité" placeholder="Civilité" size="small" fullWidth>
                                <nb-option value="Homme">Homme</nb-option>
                                <nb-option value="Femme">Femme</nb-option>
                            </nb-select>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" fullWidth fieldSize="small" nbInput placeholder="Nom" formControlName="nom" />
                        </div>
                        <div class="col-sm-4">
                            <input type="text" fullWidth fieldSize="small" nbInput placeholder="Prénom" formControlName="prénom" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="coordonnées" class="label">Coordonnées</label>
                <div class="row justify-content-between">
                    <div class="col-sm-5">
                        <input type="text" fullWidth fieldSize="small" nbInput placeholder="Fonction" formControlName="fonction" />
                    </div>
                    <div class="col-sm-5">

                        <input type="text" fieldSize="small" fullWidth nbInput placeholder="Tél Fixe" formControlName="phone" />
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-sm-5">
                        <input type="text" fullWidth fieldSize="small" nbInput placeholder="Fax" formControlName="Fax" />
                    </div>
                    <div class="col-sm-5">
                        <input type="text" fullWidth fieldSize="small" nbInput placeholder="Email" formControlName="email" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9">
                        <input type="text" fullWidth fieldSize="small" nbInput placeholder="Adress" formControlName="address" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="label">Notes </label>
                <textarea shape="semi-round" fieldSize="giant" status="basic" nbInput fullWidth placeholder="Note Interne" formControlName="note"></textarea>
            </div>
        </nb-card-body>
        <nb-card-footer class="row justify-content-end">
            <button type="submit" class="col-2" nbButton status="primary" size="tiny" (click)="confirm()" fullWidth [disabled]="!ContactForm.valid">
        Confirmer
      </button>
            <button class="col-2" nbButton status="danger" size="tiny" (click)="closePopup()" fullWidth>
        Annuler
      </button>
        </nb-card-footer>
    </form>
</nb-card>
