@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes';

:host ::ng-deep  nb-accordion-item-body .ng-trigger-accordionItemBody {
    overflow: visible !important;
 }
 :host ::ng-deep .item-body {
    overflow: visible !important;
 }




@include nb-install-component() {
     .container {
        background-color:nb-theme(layout-background-color);
    }
    .keyboard{
        background-color:nb-theme(layout-background-color);
    }
 
  }
  :host/deep/ ng2-smart-table thead tr {
    background: none !important ; 
}