<nb-accordion *ngIf="items.length" multi class="container">
    <nb-accordion-item [expanded]=true>
        <nb-accordion-item-header class="container">
            <div class="title-service">
                {{title}}
            </div>
        </nb-accordion-item-header>
        <nb-accordion-item-body class="container">
            <ng2-smart-table *ngIf="!disabled" [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
            </ng2-smart-table>
            <ng2-smart-table *ngIf="disabled" [settings]="settingsAsFiche" [source]="source">
            </ng2-smart-table>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>