
<mat-toolbar color="primary" class="m-0 mb-2 text-center">
  <h1 mat-dialog-title> Ajouter une société </h1>
</mat-toolbar>

<form [formGroup]="companieForm" (ngSubmit)="onSave()" class="m-3">
  <div class="row">
    <div class="col">
      <mat-form-field class="full-width">
        <input matInput placeholder="Raison Sociale" formControlName="name">
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="full-width">
        <input matInput placeholder="Adresse" formControlName="address">
      </mat-form-field>
    </div>

  </div>
  <div class="form-group">
    <label class="label">Informations</label>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput type="tel" placeholder="Tél" formControlName="phone">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput type="email" placeholder="Email" formControlName="email">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="ICE" formControlName="ICE">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="IF" formControlName="IF">
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="RC" formControlName="RC">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="CNSS" formControlName="CNSS">
        </mat-form-field>
      </div>
    </div>


    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="Fax" formControlName="Fax">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="site web" formControlName="webSite">
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="label">Points de Ventes</label>

    <div class="col">
      <mat-form-field class="full-width">
        <mat-select placeholder="Point de vente" formControlName="salePoints" multiple>
          <mat-option *ngFor="let salepoint of listSalesPoints" [value]="salepoint">{{salepoint}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>



  <div fxLayout="row" fxLayoutAlign="center center"  mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" [disabled]="!companieForm.valid">Confirmer</button>
    <button mat-raised-button color="warn" type="button" (click)="closePopup()">Annuler</button>
  </div>
</form>
