<nb-card>
    <nb-card-header>
        <div class="row justify-content-between label">
            <div class="col-4">
                {{ title }}
            </div>
            <div>
                <nb-actions>
                    <nb-action nbTooltip="Fermer" nbTooltipPlacement="top" icon="close-outline" pack="eva" (click)="closePopup()"></nb-action>
                </nb-actions>
            </div>
        </div>
    </nb-card-header>
    <form [formGroup]="companieForm" (ngSubmit)="onSave()">
        <nb-card-body>
            <div class="row">
                <div class="col-sm-3">
                    <img src="../../../../../assets/images/contactPlaceholder.jfif" />
                </div>
                <div class="col-sm-9">
                    <div class="row justify-content-between">
                        <div class="col-sm-5">
                            <input type="text" fullWidth fieldSize="small" nbInput placeholder="Raison Sociale" formControlName="name" />
                        </div>
                        <div class="col-sm-6">
                            <input type="text" fullWidth fieldSize="small" nbInput placeholder="address" formControlName="address" />
                        </div>
                    </div>
                </div>
            </div>

            <nb-tabset fullWidth>
                <nb-tab tabTitle="Infos ">
                    <div class="form-group">
                        <label for="Infos" class="label">Informations</label>
                        <div class="row justify-content-between">
                            <div class="col-sm-6">
                                <input type="text" fieldSize="small" fullWidth nbInput placeholder="Tél" formControlName="phone" />
                            </div>
                            <div class="col-sm-6">
                                <input type="text" fullWidth fieldSize="small" nbInput placeholder="Email" formControlName="email" />
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-sm-3">
                                <input type="text" fullWidth fieldSize="small" nbInput placeholder="ICE" formControlName="ICE" />
                            </div>
                            <div class="col-sm-3">
                                <input type="text" fullWidth fieldSize="small" nbInput placeholder="IF" formControlName="IF" />
                            </div>
                            <div class="col-sm-3">
                                <input type="text" fullWidth fieldSize="small" nbInput placeholder="RC" formControlName="RC" />
                            </div>
                            <div class="col-sm-3">
                                <input type="text" fullWidth fieldSize="small" nbInput placeholder="CNSS" formControlName="CNSS" />
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col-sm-6">
                                <input type="text" fullWidth fieldSize="small" nbInput placeholder="Fax" formControlName="Fax" />
                            </div>
                            <div class="col-sm-6">
                                <input type="text" fullWidth fieldSize="small" nbInput placeholder="site web" formControlName="webSite" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="role" class="label">Points de Ventes</label>
                        <div class="row justify-content-between">
                            <div class="col-sm-6">
                                <ng-multiselect-dropdown [placeholder]="'Point de vente'" class="col-sm-7" [settings]="dropdownSettings" [data]="listSalesPoints" (onSelect)="onSelectSalePoint($event)">
                                </ng-multiselect-dropdown>
                            </div>
                        </div>
                    </div>
                </nb-tab>
                <nb-tab tabTitle="Employés"> </nb-tab>
            </nb-tabset>
        </nb-card-body>
        <nb-card-footer class="row justify-content-end">
            <button type="submit" class="col-2" nbButton status="primary" size="tiny" (click)="onSave()" fullWidth [disabled]="!companieForm.valid">
        Confirmer
      </button>
            <button class="col-2" nbButton status="danger" size="tiny" (click)="closePopup()" fullWidth>
        Annuler
      </button>
        </nb-card-footer>
    </form>
</nb-card>