<ngx-fiche-card [title]="title">
  <mat-list>
    <mat-list-item>
      <div fxLayout="row" style="width: 100%" fxLayoutAlign="space-evenly">
        <span fxFlex="20">Nom</span>
        <span fxFlexAlign="center"></span>
      </div>
       <mat-divider></mat-divider>
    </mat-list-item>

    <mat-list-item>
      <div fxLayout="row" style="width: 100%" fxLayoutAlign="space-evenly">
        <span fxFlex="20">Adresse</span>
        <span fxFlexAlign="center"></span>
      </div>
       <mat-divider></mat-divider>
    </mat-list-item>

    <mat-list-item>
      <div fxLayout="row" style="width: 100%" fxLayoutAlign="space-evenly">
        <span fxFlex="20">E-mail</span>
        <span fxFlexAlign="center"></span>
      </div>
       <mat-divider></mat-divider>
    </mat-list-item>

    <mat-list-item>
      <div fxLayout="row" style="width: 100%" fxLayoutAlign="space-evenly">
        <span fxFlex="20">Téléphone</span>
        <span fxFlexAlign="center"></span>
      </div>
       <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</ngx-fiche-card>


