<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Créer Votre Commande !</span>
    <span class="example-spacer"></span>
    <button mat-flat-button color="primary" style="width : 8em;margin-right: 8px;">
        CONFIRMER
    </button>
    <button mat-flat-button class=" mat-bg-warn" style="width : 8em;">
        ANNULER
    </button>
</mat-toolbar>
<ngx-create-draft></ngx-create-draft>

<ngx-amounts-order></ngx-amounts-order>

