<form [formGroup]="ClientForm" (ngSubmit)="onSubmit()" (reset)="resetForm()">
    <div class="row">
        <div class="col-md-12">
            <nb-card class="inline-form-card">
                <nb-card-header>
                    <div class="row justify-content-between">
                        <div class="col-md-10">
                            <nb-actions>
                                <nb-action *ngIf="disabled" nbTooltip="Ajouter Client" nbTooltipPlacement="top" icon="plus-outline" (click)="creatNewClient()"></nb-action>
                                <nb-action *ngIf="disabled" nbTooltip="Modifier Client" nbTooltipPlacement="top" icon="edit-outline" (click)="enableForm()"></nb-action>
                                <nb-action *ngIf="!disabled" nbTooltip="Enregistrer" nbTooltipPlacement="top" [disabled]="!ClientForm.valid" icon="save-outline" (click)="onSubmit()"></nb-action>
                                <nb-action *ngIf="!disabled" nbTooltip="Reset" nbTooltipPlacement="top" icon="sync-outline" (click)="ClientForm.reset()"></nb-action>
                            </nb-actions>
                        </div>

                    </div>
                </nb-card-header>

                <nb-card-body>
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="../../../../assets/images/clientPlaceholder.png" alt="" />
                        </div>
                        <div class="col-sm-4">
                            <div class="row">
                                <nb-select placeholder="Type " formControlName="type" size="small" fullWidth>
                                    <nb-option value="Société">Société </nb-option>
                                    <nb-option value="Individu">Individu</nb-option>
                                </nb-select>
                                <input type="text" placeholder="Nom" fieldSize="small" nbInput fullWidth formControlName="nom" />
                            </div>
                        </div>
                    </div>

                    <nb-tabset fullWidth>
                        <nb-tab tabTitle="Informations ">
                            <div class="form-group">
                                <label for="adresses" class="label">Adresses Postales</label>
                                <div formArrayName="addresses" *ngFor="let address of addresses.controls; let i = index" class="row">
                                    <div class="col-sm-10">
                                        <input type="text" nbInput fullWidth id="adresses" fieldSize="small" placeholder="Adresse" [formControlName]="i" />
                                    </div>
                                    <div *ngIf="!this.disabled" class="label">
                                        <nb-icon nbTooltip="Ajouter Addresse" nbTooltipPlacement="top" *ngIf="i === 0" (click)="addAddress()" icon="plus-outline" pack="eva"></nb-icon>
                                        <nb-icon nbTooltip="Adresse de facturation" nbTooltipPlacement="top" icon="file-text-outline" pack="eva"></nb-icon>
                                        <nb-icon nbTooltip="Adresse de livraison" nbTooltipPlacement="top" icon="shopping-cart-outline" pack="eva"></nb-icon>
                                        <nb-icon *ngIf="i !== 0" nbTooltip="Supprimer Addresse" nbTooltipPlacement="top" (click)="removeAdress(i)" icon="minus-outline" pack="eva"></nb-icon>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="coordonnées" class="label">Coordonnées</label>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <input type="text" fieldSize="small" fullWidth nbInput placeholder="Tél Fixe" formControlName="phone" />
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="text" fullWidth fieldSize="small" nbInput placeholder="Fax" formControlName="Fax" />
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" fullWidth fieldSize="small" nbInput placeholder="Email" formControlName="email" />
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" fullWidth fieldSize="small" nbInput placeholder="Site web" formControlName="webSite" />
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="type.value == 'Société'">
                                <div class="col-sm-3">
                                    <input type="text" placeholder="ICE" fieldSize="small" nbInput fullWidth formControlName="ICE" />
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" placeholder="IF" fieldSize="small" nbInput fullWidth formControlName="IF" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="label">Assigné à</label>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <nb-select formControlName="vendeur" placeholder="Nom" size="small" fullWidth>
                                            <nb-option value="Zineb">Zineb</nb-option>
                                            <nb-option value="Hajar">Hajar</nb-option>
                                        </nb-select>
                                    </div>
                                    <div class="col-sm-3">
                                        <nb-select formControlName="département" placeholder="Département" size="small" fullWidth>
                                            <nb-option value="Finance">Finance</nb-option>
                                            <nb-option value="Achats">Achats</nb-option>
                                        </nb-select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="label">Notes </label>
                                <textarea formControlName="note" shape="semi-round" fieldSize="giant" status="basic" nbInput fullWidth placeholder="Note Interne"></textarea>
                            </div>
                        </nb-tab>
                        <nb-tab tabTitle="Clients Alternatifs">
                            <div *ngIf="!disabled" class="label spec">
                                <nb-icon nbTooltip="Ajouter des Contacts" nbTooltipPlacement="top" icon="plus-outline" pack="eva" (click)="openPopUpForm()"></nb-icon>Nouveau
                                <nb-icon nbTooltip="Sélectionner des Contacts" nbTooltipPlacement="top" icon="search-outline" pack="eva" (click)="openPopUpTable()"></nb-icon>Selectionner
                            </div>
                            <ng2-smart-table [settings]="settingsContacts" [source]="sourceContacts">
                            </ng2-smart-table>
                        </nb-tab>
                        <nb-tab tabTitle="Facturation/Paiement "> </nb-tab>
                        <nb-tab tabTitle="Informations comptables"> </nb-tab>
                        <nb-tab tabTitle="Livraison"> </nb-tab>
                    </nb-tabset>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</form>
