<nb-card>
    <nb-card-header>
        <div class="row">
            <nb-actions>
                <nb-action> Configuration Collection {{title}}</nb-action>
            </nb-actions>
        </div>
    </nb-card-header>
    <nb-card-body>

        <div class="row justify-content-between">
            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-sm-5 col-form-label">Société(s)</label>
                    <ng-multiselect-dropdown class="col-sm-7" [data]="listCompanies" [settings]="dropdownSettings" (onSelect)='onSelectCompanie($event)' (onSelectAll)='onSelectAllCompanies($event)'>
                    </ng-multiselect-dropdown>
                </div>
          
            </div>
            <div class="col-sm-2">
                <button (click)='onSave()'  nbButton status="primary" size="tiny" fullWidth>
            Save
          </button>
            </div>
        </div>


        <div class="col-form-label">
            Caractéristiques
            <nb-icon  (click)='add_caracteristics()' nbTooltip="Ajouter" nbTooltipPlacement="top" icon="plus-outline" pack="eva" ></nb-icon>
        
        </div>
            <ng2-smart-table [settings]="settings" [source]="source">
            </ng2-smart-table>
  
    </nb-card-body>
</nb-card>
