<nb-card>
    <nb-card-header>
        <div class="row justify-content-between label">
            <div class="col-4">
                Bon de livraison
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <ngx-form-bon-livraison (sendCommandes)="getCommandes($event)"></ngx-form-bon-livraison>
        <div *ngIf="dataMatPremieres[0]||delivery.itemsMatierePremieres[0]">
            <div class="col-form-label">
                Produit Stockable
            </div>
            <div class="row justify-content-between">
                <table class="table" cdkDropList #todoList="cdkDropList" [cdkDropListData]="dataMatPremieres" [cdkDropListConnectedTo]="[doneList]" (cdkDropListDropped)="onDropMatPremiere($event)">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">code</th>
                            <th scope="col">Désignation</th>
                            <th scope="col">Qté.Commandée</th>
                            <th scope="col">Montant HT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let element of dataMatPremieres" cdkDrag>
                            <th>
                                {{ element.count }}
                            </th>
                            <td>{{ element.item.code }}</td>
                            <td>{{ element.item.libelle }}</td>
                            <td>{{ element.quantity }}</td>
                            <td>{{ element.total_purchase }}</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table" cdkDropList #doneList="cdkDropList" [cdkDropListData]="delivery.itemsMatierePremieres" [cdkDropListConnectedTo]="[todoList]" (cdkDropListDropped)="onDropMatPremiere($event)">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">code</th>
                            <th scope="col">Désignation</th>
                            <th scope="col">Qté.Livrée</th>
                            <th scope="col">Montant HT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let element of delivery.itemsMatierePremieres" cdkDrag>
                            <th>
                                <div class="drag-handle">
                                    {{ element.count }}
                                </div>
                            </th>
                            <td>{{ element.item.code }}</td>
                            <td>{{ element.item.libelle }}</td>
                            <td>{{ element.quantity }}</td>
                            <td>{{ element.total_purchase }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngIf="dataServices[0]||delivery.itemsServices[0]">
            <div class="col-form-label">
                Services
            </div>
            <div class="row justify-content-between">

                <table class="table" cdkDropList #todoListServices="cdkDropList" [cdkDropListData]="dataServices" [cdkDropListConnectedTo]="[doneListServices]" (cdkDropListDropped)="onDropService($event)">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">code</th>
                            <th scope="col">Désignation</th>
                            <th scope="col">Qté.Commandée</th>
                            <th scope="col">Montant HT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let element of dataServices" cdkDrag>
                            <th>
                                <div class="drag-handle">

                                    {{ element.count }}
                                </div>
                            </th>
                            <td>{{ element.item.code }}</td>
                            <td>{{ element.item.libelle }}</td>
                            <td>{{ element.quantity }}</td>
                            <td>{{ element.total_purchase }}</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table" cdkDropList #doneListServices="cdkDropList" [cdkDropListData]="delivery.itemsServices" [cdkDropListConnectedTo]="[todoListServices]" (cdkDropListDropped)="onDropService($event)">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">code</th>
                            <th scope="col">Désignation</th>
                            <th scope="col">Qté.Livrée</th>
                            <th scope="col">Montant HT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let element of delivery.itemsServices" cdkDrag>
                            <th>
                                <div class="drag-handle">

                                    {{ element.count }}
                                </div>
                            </th>
                            <td>{{ element.item.code }}</td>
                            <td>{{ element.item.libelle }}</td>
                            <td>{{ element.quantity }}</td>
                            <td>{{ element.total_purchase }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngIf="dataConsommables[0]||delivery.itemsConsommables[0]">
            <div class="col-form-label">
                Consommables
            </div>
            <div class="row justify-content-between">
                <table class="table" cdkDropList #todoListConsommables="cdkDropList" [cdkDropListData]="dataConsommables" [cdkDropListConnectedTo]="[doneListConsommables]" (cdkDropListDropped)="onDropService($event)">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">code</th>
                            <th scope="col">Désignation</th>
                            <th scope="col">Qté.Commandée</th>
                            <th scope="col">Montant HT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let element of dataConsommables" cdkDrag>
                            <th>
                                <div class="drag-handle">

                                    {{ element.count }}
                                </div>
                            </th>
                            <td>{{ element.item.code }}</td>
                            <td>{{ element.item.libelle }}</td>
                            <td>{{ element.quantity }}</td>
                            <td>{{ element.total_purchase }}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table" cdkDropList #doneListConsommables="cdkDropList" [cdkDropListData]="delivery.itemsConsommables" [cdkDropListConnectedTo]="[todoListConsommables]" (cdkDropListDropped)="onDropService($event)">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">code</th>
                            <th scope="col">Désignation</th>
                            <th scope="col">Qté.Livrée</th>
                            <th scope="col">Montant HT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let element of delivery.itemsConsommables" cdkDrag>
                            <th>
                                <div class="drag-handle">

                                    {{ element.count }}
                                </div>
                            </th>
                            <td>{{ element.item.code }}</td>
                            <td>{{ element.item.libelle }}</td>
                            <td>{{ element.quantity }}</td>
                            <td>{{ element.total_purchase }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngIf="dataAccessoires[0]||delivery.itemsAccessoires[0]">
            <div class="col-form-label">
                Accessoires
            </div>
            <div class="row justify-content-between">
                <table class="table" cdkDropList #todoListAccessoires="cdkDropList" [cdkDropListData]="dataAccessoires" [cdkDropListConnectedTo]="[doneListAccessoires]" (cdkDropListDropped)="onDropAccessoire($event)">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">code</th>
                            <th scope="col">Désignation</th>
                            <th scope="col">Qté.Commandée</th>
                            <th scope="col">Montant HT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let element of dataAccessoires" cdkDrag>
                            <th>
                                <div class="drag-handle">

                                    {{ element.count }}
                                </div>
                            </th>
                            <td>{{ element.item.code }}</td>
                            <td>{{ element.item.libelle }}</td>
                            <td>{{ element.quantity }}</td>
                            <td>{{ element.total_purchase }}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table" cdkDropList #doneListAccessoires="cdkDropList" [cdkDropListData]="delivery.itemsAccessoires" [cdkDropListConnectedTo]="[todoListAccessoires]" (cdkDropListDropped)="onDropAccessoire($event)">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">code</th>
                            <th scope="col">Désignation</th>
                            <th scope="col">Qté.Livrée</th>
                            <th scope="col">Montant HT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let element of delivery.itemsAccessoires" cdkDrag>
                            <th>
                                <div class="drag-handle">
                                    {{ element.count }}
                                </div>
                            </th>
                            <td>{{ element.item.code }}</td>
                            <td>{{ element.item.libelle }}</td>
                            <td>{{ element.quantity }}</td>
                            <td>{{ element.total_purchase }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngIf="dataSystemApparent[0]||delivery.itemsSystemApparent[0]">
            <div class="col-form-label">
                Systéme Apparent
            </div>
            <div class="row justify-content-between">

                <table class="table" cdkDropList #todoListSysApparent="cdkDropList" [cdkDropListData]="dataSystemApparent" [cdkDropListConnectedTo]="[doneListSysApparent]" (cdkDropListDropped)="onDropSystemeApparent($event)">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">code</th>
                            <th scope="col">Désignation</th>
                            <th scope="col">Qté.Commandée</th>
                            <th scope="col">Montant HT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let element of dataSystemApparent" cdkDrag>
                            <th>
                                <div class="drag-handle">
                                    {{ element.count }}
                                </div>
                            </th>
                            <td>{{ element.item.code }}</td>
                            <td>{{ element.item.libelle }}</td>
                            <td>{{ element.quantity }}</td>
                            <td>{{ element.total_purchase }}</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table" cdkDropList #doneListSysApparent="cdkDropList" [cdkDropListData]="delivery.itemsSystemApparent" [cdkDropListConnectedTo]="[todoListSysApparent]" (cdkDropListDropped)="onDropSystemeApparent($event)">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">code</th>
                            <th scope="col">Désignation</th>
                            <th scope="col">Qté.Livrée</th>
                            <th scope="col">Montant HT</th>

                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let element of delivery.itemsSystemApparent" cdkDrag>
                            <th>
                                <div class="drag-handle">
                                    {{ element.count }}
                                </div>
                            </th>
                            <td>{{ element.item.code }}</td>
                            <td>{{ element.item.libelle }}</td>
                            <td>{{ element.quantity }}</td>
                            <td>{{ element.total_purchase }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="row justify-content-end col-form-label">
            <nb-card class="col-4 price">
                <nb-card-body>
                    <div class="row">
                        <div class="col-6">Total HT:</div>
                        <div class="col-5">{{ total_HT | async | currency:'':'' }} DH</div>
                        <div class="col-6">TVA 20%:</div>
                        <div class="col-5">{{ tva | async | currency :'':''}} DH</div>
                    </div>
                </nb-card-body>
                <nb-card-footer class="row">
                    <div class="col-6">Total TTC:</div>
                    <div class="col-6">{{ total_TTC | async | currency :'':''}} DH</div>
                </nb-card-footer>
            </nb-card>
        </div>
    </nb-card-body>
    <nb-card-footer class="row justify-content-center">

        <button (click)="confirm()" class="col-2" shape="rectangle" nbButton hero status="primary" size="tiny" fullWidth>
      <nb-icon

      class="icon"
      nbTooltip="nouveau"
      nbTooltipPlacement="top"
      icon="checkmark-circle-2-outline"
      pack="eva"
    ></nb-icon>Confirmer</button>

        <button class="col-2" nbButton shape="rectangle" status="danger" size="tiny" fullWidth>
      <nb-icon

      class="icon"
      nbTooltip="nouveau"
      nbTooltipPlacement="top"
      icon="close-circle-outline"
      pack="eva"
    ></nb-icon>Annuler</button>
    </nb-card-footer>
</nb-card>