<ngx-fiche-card [title]="title" [data]="passedData">
  <mat-list class="ml-48">
    <span *ngFor="let param of params; last as last">
        <mat-list-item>
        {{param.param}}
          <button style="margin-left: auto" mat-icon-button color="warn" (click)="deleteParam(param)">
            <mat-icon fontSet="fas" fontIcon="fa-trash">
            </mat-icon>
          </button>
          <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        </mat-list-item>
      </span>
    <mat-list-item>
      <mat-form-field>
        <input #param matInput placeholder="Nouveau paramètre" />
      </mat-form-field>
      <button mat-icon-button (click)="addParam(param.value); param.value = ''">
        <mat-icon fontSet="fas" fontIcon="fa-plus" style="color: green"></mat-icon>
      </button>
    </mat-list-item>

  </mat-list>
</ngx-fiche-card>

<!--<mat-card>-->
<!--  <mat-toolbar color="primary">-->
<!--    <mat-card-title>-->
<!--      Service {{service.name}}-->
<!--    </mat-card-title>-->
<!--  </mat-toolbar>-->

<!--  <mat-card-content>-->
<!--    <mat-list>-->
<!--      <strong>Paramètres</strong>-->
<!--      <span *ngFor="let param of service.params; last as last">-->
<!--        <mat-list-item>-->
<!--        {{param.param}}-->
<!--          <button style="margin-left: auto" mat-icon-button color="warn" (click)="deleteParam(param)">-->
<!--            <mat-icon fontSet="fas" fontIcon="fa-trash">-->
<!--            </mat-icon>-->
<!--          </button>-->
<!--          <mat-divider [inset]="true" *ngIf="!last"></mat-divider>-->
<!--        </mat-list-item>-->
<!--      </span>-->
<!--      <mat-list-item>-->
<!--        <mat-form-field>-->
<!--          <input #param matInput placeholder="Nouveau paramètre" />-->
<!--        </mat-form-field>-->
<!--        <button mat-icon-button (click)="addParam(param.value); param.value = ''">-->
<!--          <mat-icon fontSet="fas" fontIcon="fa-plus" style="color: green"></mat-icon>-->
<!--        </button>-->
<!--      </mat-list-item>-->

<!--    </mat-list>-->
<!--  </mat-card-content>-->
<!--  <mat-card-actions>-->
<!--  <button mat-flat-button color="primary" routerLink="/listVerre"-->
<!--          [queryParams]="{filterby: 'name', value: service.name}">-->
<!--    Services de verre</button>-->
<!--  <button mat-flat-button color="accent"-->
<!--          routerLink="/listAccessoires"-->
<!--          [queryParams]="{filterby: 'name', value: service.name}">-->
<!--    Services consommables-->
<!--  </button>-->
<!--  </mat-card-actions>-->
<!--</mat-card>-->
