<form [formGroup]="commandeForm">

    <div *ngIf="!disabled" class="row">
        <div class="col-4">
            <div class="form-group row">
                <label class="col-sm-5 col-form-label">Commande N°</label>
                <nb-form-field class="col-sm-7">
                    <input nbInput fullWidth fieldSize="tiny" />
                </nb-form-field>
            </div>
            <div class="form-group row">
                <label class="col-sm-5 col-form-label">Société</label>
                <nb-form-field class="col-sm-7">
                    <nb-select size="tiny" fullWidth formControlName="companie">
                        <nb-option value="Tanglass">Tanglass</nb-option>
                        <nb-option value="Trimar">Trimar</nb-option>
                    </nb-select>
                </nb-form-field>
            </div>


        </div>

        <div class="col-4">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Client</label>
                <ng-multiselect-dropdown (onSelect)="onItemSelect($event)" placeholder="" class="col-sm-8" [settings]="dropdownSettings" [data]="listClients">
                </ng-multiselect-dropdown>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">C.Alternatif</label>
                <ng-multiselect-dropdown formControlName="contact" placeholder="" class="col-sm-8" [settings]="dropdownSettings" [data]="listContacts">
                </ng-multiselect-dropdown>
            </div>



        </div>

        <div class="col-4">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Date </label>
                <nb-form-field class="col-sm-8">
                    <nb-icon nbSuffix icon="calendar-outline" pack="eva"></nb-icon>
                    <input nbInput [nbDatepicker]="datedevis" formControlName="dateCommande" fullWidth fieldSize="tiny" />
                    <nb-datepicker #datedevis></nb-datepicker>
                </nb-form-field>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">délai</label>
                <nb-form-field class="col-sm-8">
                    <nb-icon nbSuffix icon="calendar-outline" pack="eva"></nb-icon>
                    <input nbInput [nbDatepicker]="expiration" formControlName="delay" fullWidth fieldSize="tiny" />
                    <nb-datepicker #expiration></nb-datepicker>
                </nb-form-field>
            </div>
        </div>
    </div>

    <div *ngIf="disabled" class="row">
        <div class="col-3">
            <div class="form-group row">
                <div class="col-sm-5 col-form-label "><strong>Commande N° :</strong></div>
                <div class="col-sm-6 col-form-label"> Comm001/2021 </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-5 col-form-label"><strong>Société :</strong></div>
                <div class="col-sm-6 col-form-label"> {{formValues.companie}} </div>

            </div>
        </div>
        <div class="col-3">
            <div class="form-group row">
                <div class="col-sm-5 col-form-label"><strong>Date :</strong></div>

                <div class="col-sm-6 col-form-label"> {{formValues.dateCommande| date: 'dd/MM/yyyy'}}</div>

            </div>
            <div class="form-group row">
                <div class="col-sm-5 col-form-label"><strong>Délai :</strong></div>

                <div *ngIf="formValues.delay" class="col-sm-6 col-form-label">{{formValues.delay| date: 'dd/MM/yyyy'}}</div>

            </div>
        </div>
        <div class="col-3">
            <div class="form-group row">
                <div class="col-sm-5 col-form-label"><strong>Status :</strong></div>

                <div *ngIf="formValues.status" class="col-sm-6 col-form-label">{{formValues.status}}</div>

            </div>
            <div class="form-group row">
                <div class="col-sm-5 col-form-label"><strong>contact :</strong></div>
                <div *ngIf="formValues.contact" class="col-sm-6 col-form-label"> {{formValues.contact.nom}}</div>

            </div>
        </div>
        <div class="col-3">
            <div class="form-group row">
                <div class="col-sm-5 col-form-label "><strong>Client :</strong></div>

                <div *ngIf="formValues.client" class="col-sm-6 col-form-label"> {{formValues.client.nom}}</div>

            </div>
            <div class="form-group row">
                <div class="col-sm-5 col-form-label"><strong>Adresse :</strong></div>
                <div *ngIf="formValues.client" class="col-sm-6 col-form-label"> {{formValues.client.addresses[0]}}</div>


            </div>
        </div>
    </div>
</form>