
  <mat-toolbar color="primary" class="m-0 mb-2 text-center">
    <h1 mat-dialog-title> Ajouter un employé </h1>
  </mat-toolbar>

  <form [formGroup]="UserForm" (ngSubmit)="onSave()" class="m-3">
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Prénom" formControlName="FirstName">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nom" formControlName="LastName">
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Civilité</mat-label>
            <mat-select formControlName="civilité" placeholder="Civilité">
              <mat-option [value]="'Homme'">
                Homme
              </mat-option>
              <mat-option [value]="'Femme'">
                Femme
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
    <div class="form-group">
      <label class="label">Infos Générales</label>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="tel" placeholder="Tél" formControlName="phone">
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="email" placeholder="Email" formControlName="email">
          </mat-form-field>
        </div>
      </div>


        <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="text" placeholder="Adresse" formControlName="address">
          </mat-form-field>
        </div>
          <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="text" placeholder="C.I.N" formControlName="CIN">
          </mat-form-field>
        </div>
      </div>
    </div>


    <div class="form-group">
      <label class="label">Responsabilités</label>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="text" placeholder="Rôle" formControlName="role">
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <input matInput type="text" placeholder="Département" formControlName="departement">
          </mat-form-field>
        </div>
      </div>


        <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
              <mat-select placeholder="Société(s)" formControlName="companies" multiple>
                <mat-option *ngFor="let company of listCompanies" [value]="company">{{company}}</mat-option>
              </mat-select>
          </mat-form-field>
        </div>

          <div class="col">
          <mat-form-field class="full-width">
              <mat-select placeholder="Point de vente" formControlName="salepoints" multiple>
                <mat-option *ngFor="let salepoint of listSalesPoints" [value]="salepoint">{{salepoint}}</mat-option>
              </mat-select>
          </mat-form-field>

        </div>
        </div>
      </div>

  <div fxLayout="row" fxLayoutAlign="center center"  mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" [disabled]="!UserForm.valid">Confirmer</button>
    <button mat-raised-button color="warn" type="button" (click)="closePopup()">Annuler</button>
  </div>
  </form>
