<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon color="primary">auto_awesome_mosaic</mat-icon>
  </button>
  <span>Verre | Article Client</span>
  <span class="example-spacer"></span>
  <button mat-flat-button
   (click)="openDialog('Add','Verre',{})" 
   color="primary" style="width : 12em;">
    Ajouter Verre
  </button>
</mat-toolbar>
<table mat-table class="full-width-table" [dataSource]="dataSourceGlass">
  <ng-container *ngFor="let disCol of headers; let colIndex = index" matColumnDef="{{disCol.field}}">
    <th mat-header-cell *matHeaderCellDef>{{disCol.headerName}}</th>
    <td mat-cell *matCellDef="let element">{{element[disCol.field]}}</td>
  </ng-container>
  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element" class="action-link">
      <button 
      mat-stroked-button  
      (click)="openDialog('Add','Service',element)"
       color="primary" style="margin-right : 2em;">
        <mat-icon>add_circle</mat-icon>
        service
      </button>
      <button mat-stroked-button color="primary">
        <mat-icon>delete</mat-icon>
        delete
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon color="primary">miscellaneous_services</mat-icon>
  </button>
  <span>Services | Consommables| Accessoires</span>
  <span class="example-spacer"></span>
  <button (click)="openDialog('Add','Accessoire',{})" mat-flat-button color="primary" style="width : 12em;">Ajouter Article</button>
</mat-toolbar>
<table mat-table [dataSource]="dataSourceArticles">
  <ng-container *ngFor="let disCol of headers; let colIndex = index" matColumnDef="{{disCol.field}}">
    <th mat-header-cell *matHeaderCellDef>{{disCol.headerName}}</th>
    <td mat-cell *matCellDef="let element">{{element[disCol.field]}}</td>
  </ng-container>
    <!-- Action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element" class="action-link">
      <button mat-stroked-button color="primary">
        <mat-icon color="primary" class="example-icon" aria-hidden="false" aria-label="Example delete icon">
          delete
        </mat-icon>
        delete
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>