<mat-card class="pr-0 pl-0">

  <mat-card-header >
    <mat-card-title class="mat-color-primary">
      <h1>
        Bon de livraison
      </h1>
      <mat-divider></mat-divider>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="px-0 mt-24">
    <dynamic-form [fields]="regConfig"
                  [flat]="true"
                  [withActions]="false"
                  (submit)="submit($event)">

      <mat-toolbar class="header-info">
        Commande Infos
      </mat-toolbar>

      <ngx-list-item [data]="commandData"></ngx-list-item>

      <mat-toolbar class="header-info">
        Lignes de livraison
      </mat-toolbar>
      <form [formGroup]="deliveryLinesForm">
      <app-table #table  [data]="data"
                 [templates]="{delivered: delivered, qte: qte, stock_state: state, rest: rest}"
                 [columnsToShow]="displayedColumns">
      </app-table>
      </form>

      <!--      Templates-->
      <ng-template let-item="data" #state>
        <mat-icon [color]="item?'primary':'warn'" [matTooltip]="item?'Disponible':'Rupture de stock'">
          {{item?'check_box':'dangerous'}}
        </mat-icon>
      </ng-template>

      <ng-template let-item="data" #delivered>
        <div class="text-success">{{item}}</div>
      </ng-template>

      <ng-template let-item="data" #rest>
        <div [ngClass]="item?'text-danger':'text-success'">{{item}}</div>
      </ng-template>

      <ng-template let-item="data" #qte>
        <div [formGroup]="deliveryLinesForm" *ngIf="item.rest">
        <mat-form-field >
          <input matInput type="number" [name]="item.name" [formControlName]="item.name" [value]="0" [min]="0"/>
        </mat-form-field>
        </div>
      </ng-template>
      <mat-card-actions class="mt-12 ml-12">
        <button mat-raised-button color="primary">
          Confirmer
        </button>
      </mat-card-actions>

    </dynamic-form>

  </mat-card-content>
</mat-card>



