<div class="mat-elevation-z8 m-2">
  <div class="ml-3 float-left">
    <button (click)="openDialog()" mat-icon-button matTooltip="Ajouter"  color="primary" aria-label="Example icon-button with a menu">
      <mat-icon fontSet="fas" fontIcon="fa-plus"></mat-icon>
    </button>
    <button mat-icon-button matTooltip="Supprimer" color="warn">
      <mat-icon fontSet="far" fontIcon="fa-trash-alt"></mat-icon>
    </button>
    <mat-divider class="mx-3" vertical style="height:auto; display: inline"></mat-divider>
    <button class="excel" mat-icon-button matTooltip="Exporter en excel">
      <mat-icon fontSet="fas" fontIcon="fa-file-excel"></mat-icon>
    </button>

  </div>
  <div class="float-right">
    <mat-form-field>
      <mat-label>Mot de recherche</mat-label>
      <input matInput #searchInput type="search">
      <button mat-icon-button [hidden]="hide" matSuffix (click)="hide = !hide; searchInput.value=''" [attr.aria-label]="'cancel Search'" [attr.aria-pressed]="hide">
        <mat-icon fontSet="fas" fontIcon="fa-times"></mat-icon>
      </button>
    </mat-form-field>
    <button mat-mini-fab matTooltip="Chercher" color="primary" (click)="search(searchInput.value)">
      <mat-icon fontSet="fas" fontIcon="fa-search"></mat-icon>
    </button>
  </div>
  <table mat-table  class="full-width-table" matSort aria-label="Elements">
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container *ngFor="let col of columns" [matColumnDef]="col.key">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{col.title}}</th>
      <td mat-cell *matCellDef="let row">
        {{col.colPipe==null?row[col.key]:col.colPipe.transform(row)}}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
      <td mat-cell *matCellDef="let row">
        <button (click)="openDialog(row)" mat-icon-button matTooltip="Modifier"  color="accent">
          <mat-icon fontSet="fas" fontIcon="fa-edit"></mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
                 [length]="dataSource?.data.length"
                 [pageIndex]="0"
                 [showFirstLastButtons]="true"
                 [pageSize]="100"
                 [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
