nb-card-header {
    padding: 0.5rem 1rem !important;
}

:host /deep/ [nbButton].shape-rectangle {
    border-radius: 0rem !important;
    font-weight: 600 !important;
    font-size: 0.8rem !important;
    margin-right: 10px;
}

:host /deep/[nbButton].appearance-filled.status-danger {
    background-color: rgba(206, 0, 24, 0.6) !important;
    border-color: rgba(206, 0, 24, 0.6) !important;
}

:host/deep/ nb-card-footer {
    border-top: none !important;
}

input {
    border: none !important;
    background: rgba(0, 0, 0, 0) !important;
    border-bottom: 1px solid #b6b6b6 !important;
}

.col-form-label {
    font-size: 0.83rem !important;
    font-weight: 730 !important;
    padding-top: 20px !important;
    color: #8f9bb3 !important;
}

.label {
    font-family: Open Sans, sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
}

.form-group {
    margin-bottom: -0.3rem;
}

:host/deep/form {
    margin-right: 1.5em;
    margin-left: 1.5em;
}
