@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes';


@include nb-install-component() {
     .container {
        background-color:nb-theme(layout-background-color);
    }
    .keyboard{
        background-color:nb-theme(layout-background-color);
    }
 
  }
  :host/deep/ ng2-smart-table thead tr {
    background: none !important ; 
}