
@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes';





:host ::ng-deep .multiselect-dropdown .dropdown-btn {
    border-bottom: none !important;
    background: rgba(0, 0, 0, 0) !important;
}

:host /deep/.multiselect-dropdown .dropdown-btn .selected-item {
    border: none !important;
    margin-right: 0px !important;
    background: none !important;
    padding: 0px !important;
    //color: black !important;

}

:host ::ng-deep.multiselect-dropdown .dropdown-btn .selected-item a {
    display: none !important;
}

::ng-deep {
    ng-multiselect-dropdown{
        .multiselect-dropdown {
      
          /* text  colour */
         
          .dropdown-btn {
            .selected-item {
                color: nb-theme(text-basic-color) !important;

            }
          
        }
  
      }
    }
  }
