
<div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center">
  <mat-card *ngFor="let i of [1,2,3]"
            fxFlex="0 1 20"
            class="mat-elevation-z5">
    <mat-card-header>
      <mat-card-title>CO</mat-card-title>
      <mat-card-subtitle>Coupe</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-mini-fab color="primary" class="mr-1">
        <mat-icon fontSet="fas" fontIcon="fa-pen"></mat-icon>
      </button>
      <button mat-mini-fab color="warn">
        <mat-icon fontSet="far" fontIcon="fa-trash-alt"></mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>


<button class="fab-button" (click)="openDialog('add')" mat-fab color="primary">
  <mat-icon fontSet="fas" fontIcon="fa-plus"></mat-icon>
</button>
