<form #f="ngForm">
  <app-table
    #table
    [withCheckbox]='false'
    [data]="deliveryLines"
    [templates]="{
      delivered: delivered,
      qte: qte,
      rest: rest
      }"
    [columnsToShow]="displayedColumns"
  >
  </app-table>
</form>

<!--      Templates-->

<ng-template let-item="data" #delivered>
  <div class="text-success">{{ item }}</div>
</ng-template>

<ng-template let-item="data" #rest>
  <div [ngClass]="item.quantity - item.delivered ? 'text-danger' : 'text-success'">
    {{ item.quantity - item.delivered }}
  </div>
</ng-template>


<ng-template let-item="data" #qte>
  <div *ngIf="item.quantity - item.delivered">
    <mat-form-field>
      <input
        #qteInput
        matInput
        type="number"
        [(ngModel)]="item.toDeliver"
        (ngModelChange)='calculateAmount(item)'
        name="toDeliver"
        [value]="0"
        [min]="0"
        [max]="item.quantity - item.delivered"
      />
      <button mat-icon-button matSuffix (click)="setMax(qteInput, item)">
        <mat-icon style="font-size: 1.5rem">
          {{item.toDeliver==qteInput.max?'clear_all':'done_all'}}
        </mat-icon>
      </button>
    </mat-form-field>
  </div>
</ng-template>
