@import 'styles/themes';
@include nb-install-component() {
}

.form-inline [fullWidth] {
  flex: 1;
}

nb-tabset {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

nb-card-header {
  padding: 0.75rem 1.25rem !important;
}

textarea {
  padding-top: 30px;
  background: rgba(0, 0, 0, 0) !important;
}

:host /deep/ nb-tabset .tab-link {
  padding: 0.5 rem 1rem !important;
  font-size: 0.75rem !important;
  font-weight: 700 !important;
  line-height: 0.75rem !important;
  text-transform: none !important;
}

:host /deep/ nb-tabset .tab-link::before {
  height: 0.1rem;
}

:host /deep/nb-select.appearance-outline.status-basic .select-button {
  border: none !important;
  background: rgba(0, 0, 0, 0) !important;
  border-bottom: 1px solid #b6b6b6 !important;
}

input {
  border: none !important;
  background: rgba(0, 0, 0, 0) !important;
  border-bottom: 1px solid #b6b6b6 !important;
}

nb-tab input::placeholder,
textarea::placeholder,
nb-select.size-small .select-button.placeholder {
  font-size: 12px !important;
}

:host/deep/nb-tab nb-select.size-small .select-button.placeholder {
  font-size: 0.8rem;
}

img {
  width: 100%;
  opacity: 0.2;
}

:host /deep/ .ng2-smart-action-multiple-select {
  text-align: center;
}

:host /deep/ .ng2-smart-action-multiple-select > input {
  width: 15px;
  height: 15px;
  display: unset;
}

:host
  /deep/
  ng2-smart-table
  thead
  tr.ng2-smart-filters
  th.ng2-smart-th
  ng2-smart-table-filter
  div.ng2-smart-filter
  default-table-filter
  input-filter
  input {
  border: none !important;
  height: 20px;
  background: rgba(0, 0, 0, 0) !important;
}

:host
  /deep/
  ng2-smart-table
  thead
  tr.ng2-smart-filters
  th.ng2-smart-th
  div.ng2-smart-filter
  input::placeholder {
  color: transparent !important;
}

:host
  /deep/
  ng2-smart-table
  thead
  tr.ng2-smart-filters
  th.ng2-smart-th
  div.ng2-smart-filter {
  border: none !important;
}

:host/deep/ ng2-smart-table table tr td {
  padding: 8px !important;
}

:host/deep/ ng2-smart-table table tr td {
  padding: 3px !important;
  font-size: 0.79rem !important;
  font-weight: 400 !important;
  line-height: 1rem !important;
}

:host /deep/nb-select.appearance-outline.status-basic .select-button[disabled],
[nbInput].status-basic:disabled {
  color: black !important;
}
