<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon color="primary">attach_money</mat-icon>
    </button>
    <span>Montants!</span>
    <span class="example-spacer"></span>
    <button *ngIf="!isCardMode" mat-flat-button (click)="openDialog('add')" color="primary" style="width: 12em">
      Ajouter Réglement
    </button>
</mat-toolbar>
<app-table #amountTable [data]="dataSource" 
  [columnsToShow]="displayedColumns"
  [withCheckbox]=false
  >
</app-table>
