<form [formGroup]="bonLivraisonForm">
    <div class="row">
        <div class="col-8">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Commande N°</label>
                <ng-multiselect-dropdown class="col-sm-8"  
                formControlName="commandes"
                 placeholder="" 
                 [settings]="dropSettingsForCommande" 
                 [data]="listFilteredCommandes"
                 (onSelect)="onSelectCommande()" 
                 (onSelectAll)="onSelectAllCommandes($event)"
                 (onDeSelect)="onSelectCommande()"
                 (onDeSelectAll)="resetCommandeField()">
                </ng-multiselect-dropdown>
            </div>
        </div>

            <div class="col-4">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">B.L N°</label>
                <nb-form-field class="col-sm-8">
                    <input nbInput fullWidth fieldSize="tiny" />
                </nb-form-field>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Nature</label>
                <nb-form-field class="col-sm-8">
                    <nb-select size="tiny" fullWidth formControlName="nature">
                        <nb-option  *ngFor="let option of livraisonModesOptions " [value]="option">
                            {{option}} 
                           </nb-option>
                    </nb-select>
                </nb-form-field>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Date </label>
                <nb-form-field class="col-sm-8">
                    <nb-icon nbSuffix icon="calendar-outline" pack="eva"></nb-icon>
                    <input nbInput [nbDatepicker]="date" formControlName="date" fullWidth fieldSize="tiny" />
                    <nb-datepicker #date></nb-datepicker>
                </nb-form-field>
            </div>
        </div>
     
        <div class="col-4">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Société</label>
                <nb-form-field class="col-sm-8">
                    <nb-select size="tiny" fullWidth formControlName="companie"  (selectedChange)="onChoosingCompanie($event)">
                        <nb-option  *ngFor="let option of companiesOptions " [value]="option">
                          {{option}} 
                         </nb-option>
                    </nb-select>
                </nb-form-field>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Paiement</label>
                <nb-form-field class="col-sm-8">
                    <nb-select size="tiny" fullWidth formControlName="paiementMode">
                        <nb-option  *ngFor="let option of paiementModes " [value]="option">
                            {{option}} 
                           </nb-option>

                    </nb-select>
                </nb-form-field>
            </div>
        </div>

        <div class="col-4">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Client</label>
                <ng-multiselect-dropdown (onSelect)="onSelectClient($event)" placeholder="" class="col-sm-8" [settings]="dropdownSettings" [data]="listClients">
                </ng-multiselect-dropdown>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Contact</label>
                <ng-multiselect-dropdown formControlName="contact" placeholder="" class="col-sm-8" [settings]="dropdownSettings" [data]="listContacts">
                </ng-multiselect-dropdown>
            </div>

        </div>
    </div>
</form>